<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
<nav>
  <a href="#">ETHEREUM(ETH)</a>
  <a href="#">BINANCE-SMART-CHAIN(BSC)</a>
  <a href="#">LISTING</a>
  <div id="indicator"></div>
</nav>
</div>
<div class="container">

  <div class="tokad">
 {% for token in tokens %}
  <div class="tok{{ loop.index }}">
    <div class="tokcard">
      <div class="wrapper">
        <img src="static/{{ token.contact_address }}_logo.jpg" class="image--cover">
      </div>
      <div class="tokcard-info">
        <h1 class="title">{{ token.name }}</h1>
        <p class="subtitle">{{ token.description }}</p>
      </div>
      <div class="socials">
        <a href="{{ token.website }}"><span>website</span></a>
        <a href="{{ token.twitterlink }}"><span>Twitter</span></a>
        <a href="{{ token.tglink }}"><span>telegram</span></a>
        <a href="https://etherscan.io/address/{{ token.contact_address }}"><span>etherscan</span></a>
        
      </div>
    </div>
  </div>
{% endfor %}
  </div>
  
    <div class="message">
     {% for msg in message %}
      <div class="message-section">
        <p>{{ msg.name }}:{{ msg.message }}</p>
      </div>
      {% endfor %}
    </div>
    
</body>
</html>