{
  border: solid 1px red;
}

html, body {
  height: 100%;
  margin: 2;
  padding: 0;
  overflow: hidden;
  background-color:white;
}

.container {
  
  padding: 30px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "ama ama ama"
    "tokad tokad tokad"
    "message message message";
}

/* Styles for large screens */

@media screen and (min-width: 1200px) {
  .container {
    height: 600px;
  }
}

/* Styles for medium screens */

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .container {
    height: 500px;
  }
}

/* Styles for small screens */

@media screen and (max-width: 767px) {
  html, body {
    height: auto;
    overflow: visible;
  }
  
  .container {
    display: block;
    height: auto;
  }
  
  /* Adjust specific styles for small screens */
  /* ... */
}
/* Rest of your code... */


.ama { 

  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "ama1 ama2 ama3"
    "ama1 ama2 ama3"
    "ama1 ama2 ama3";
  grid-area: ama;
}

.ama1 { grid-area: ama1; }

.ama2 { grid-area: ama2; }

.ama3 { grid-area: ama3; }

.tokad { 
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "tok1 tok2 tok3"
    "tok4 tok5 tok6"
    "tok7 tok8 tok9";
  grid-area: tokad;
}

.tok1 { grid-area: tok1;}
.tok2 { grid-area: tok2;}
.tok3 { grid-area: tok3;}

.tok4 { grid-area: tok4;}

.tok5 { grid-area: tok5;}

.tok6 { grid-area: tok6;}

.tok7 { grid-area: tok7;}

.tok8 { grid-area: tok8;}

.tok9 { grid-area: tok9;}


.message {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "message1 message1 message1"
    "message2 message2 message2"
    "message3 message3 message3";
  grid-area: message;
}

.message1 { grid-area: message1; }

.message2 { grid-area: message2; }

.message3 { grid-area: message3; }

.card {
  border: 2px solid #313131;
  width: 100%;
  max-width: 27rem;
  height: 10rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.card p,
.card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  font-size: 1rem;
}

.card p {
  inset: auto auto 80px 30px;
}

.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}


.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
   opacity: 0.5;
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
.card:hover {
  box-shadow: 0 0 20px rgba(252, 41, 71, 1);
  border-color: #FC2947;
}

.material-symbols-outlined {
  vertical-align: middle;
}
.navbar{
  margin: 5px;
}

.tokcard {
  position: relative;
  width: 100%;
  max-width: 27rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  border-radius: 0px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.tokcard:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 0; /* Set left to 0 for leftmost alignment */
  transform: translateY(-50%);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center right;
  border: solid 3px #f0ebcc;
}


.tokcard-info {
  position:  absolute;
  top: 6px;
  bottom: 10px;
  left: 30%;
  right: 0;
  text-align: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.title {
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 180px;
  text-align: center;

}

.subtitle {
 max-width: 220px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}


.socials {
  display: flex; /* Set the display property to flex */
  justify-content: center; /* Center the social icons horizontally */
  align-items: center; /* Center the social icons vertically */
}

.socials a {
  /* Update the styles as needed */
  color: #fff;
  background: #423F3E;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  display: inline-block;
  width: 40px;
  height: 28px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}


.social a:hover {
  background: #ef92a3;
}
.social a,span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.socials a:nth-of-type(1):before {
content:'\f0ac';
}
.socials a:nth-of-type(2):before {
content:'\f099';
}
.socials a:nth-of-type(3):before {
content:'\f1d8';
}
.socials a:nth-of-type(4):before {
content:'\f002';
}
.socials a:nth-of-type(5):before {
content:'\f23a';
}

/* CSS to transition tokcard to socials on hover */
.tokcard {
  position: relative;
  transition: transform 0.3s ease;
}

.tokcard .socials {
  display: none;
}

.tokcard:hover {
  transform: translateY(0%);
}

.tokcard:hover .wrapper,
.tokcard:hover .tokcard-info {
  display: none;
}

.tokcard:hover .socials {
  display: block;
}

